@import url('https://fonts.googleapis.com/css2?family=Changa&family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

p {
    font-size: 16px;
    color: #fff;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 81px 0;
}

/* start header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    color: rgba(0, 0, 0, 0.87);
    z-index: 4;
    transition: all 300ms ease 0s;
    background-color: #c29361;
    box-shadow: none;
}

#header .logo img {
    mix-blend-mode: multiply;
}

#header .navbar ul {
    list-style: none;
}

#header .navbar ul li {
    position: relative;
    float: left;
}

#header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    color: #fff;
    display: block;
    transition: 0.3s ease-in;
    font-weight: 600;
}

#header .navbar ul li a:hover {
    color: #794932;
}

#header .navbar ul li .aboutus {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #e5e0b0;
    display: none;
    border-radius: 15px;
}

#header .navbar ul li ul li {
    width: 100%;
    border-top: #fff6f6;
}

#header .navbar ul li:hover>.aboutus {
    display: initial;
}

#header input {
    width: 250px;
    padding: 8px 20px 8px 45px;
    border: 2px solid #fff;
    font-size: 15px;
    border-radius: 25px;
    background-position: 2% 50%;
    background-repeat: no-repeat;
    background-size: 30px;
    transition: 0.5s all ease-in-out;
    filter: brightness(118%);
    outline: none;
}

#header input:hover:focus,
input:not(:placeholder-shown) {
    width: 450px;
    background-color: #fff;
    filter: brightness(100%);
    border: 1px solid #fff;
    box-shadow: 20px 20px 40px #222;
}

#header form a i {
    font-size: 20px;
    color: #794932;
    box-shadow: 17px 17px 30px #222;
    border-radius: 35px;
}

#character {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #c29361;
}

.vidclass {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}

#character video {
    border-radius: 27%;
    object-fit: cover;
    height: 500px;
    width: 500px;
}

#character h1 {
    padding: 0px 61px;
    font-size: 70px;
    color: #fff;
}

#character p {
    color: #fff;
    font-weight: 550;
    width: 800px;
    margin: 35px 0 0 73px;
    font-size: 19px;
}

#character button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: -0.05px;
    text-transform: none;
    font-family: Nunito, sans-serif;
    line-height: 1.75;
    border-radius: 32px;
    color: #fff;
    font-weight: bold;
    transition: all 0.1s ease 0s;
    padding: 10px 24px;
    box-shadow: none;
    min-height: 56px;
    width: 100px;
    min-width: 0px;
    border: 3.5px solid #fff;
    background-color: transparent;
    animation: bounce 5s infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translate(0px, 0px);
    }

    30% {
        transform: scale(1) translate(0px, 0px);
    }

    75% {
        transform: scale(1) translate(0px, 15px);
    }

    100% {
        transform: scale(1, 1) translate(0px, 0px);
    }
}

#character button:hover {
    border: 1px solid #fff;
    box-shadow: 10px 10px 10px #222;
}

#wave1 {
    position: absolute;
    left: 0;
    top: 732px;
}

#wave2 {
    position: absolute;
    left: 0;
    top: 731px;
}

/* 2nd page */
#page2 {
    padding: 161px;
    margin: 95px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.h1 h1 {
    font-size: 75px;
    line-height: 64px;
    color: #794932;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 283px;
}

#pg .pg-img1 a {
    text-decoration: none;
    cursor: pointer;
}

#pg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2 .pg-img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(imgs/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    padding: 32px;
    margin: 100px 59px 0px 7px;
    border-radius: 6px;
    z-index: -1;
}

#page2 .pg-img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(imgs/element5-digital-jCIMcOpFHig-unsplash.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    color: #fff;
    padding: 32px;
    margin: 100px 59px 0px 7px;
    border-radius: 6px;
    z-index: -1;
}

#page2 .pg-img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(imgs/scott-graham-OQMZwNd3ThU-unsplash.jpg);
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    color: #fff;
    padding: 32px;
    margin: 100px 59px 0px 7px;
    border-radius: 6px;
    z-index: -1;
}

#pg h2 {
    color: #fff;
    font-size: 45px;
    padding: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* page-3 */

#wave3 {
    position: absolute;
    left: 0;
    top: 1403px;
}

#details {
    background-color: #e5e0b0;
    display: flex;
    width: 100%;
    height: 300vh;
}
#details .box-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 85px;
}

#details .box {
    width: 76%;
    height: 555px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #794932;
    margin: 90px 55px 0 77px;
    border-radius: 35px;
}
#details .feature-detail {
    width: 38%;
    margin-right: 45%;
    padding-top: 68px;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    place-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
#details .h2 {
    text-transform: uppercase;
    font-size: 38px;
    margin-right: 42%;
    padding: 4px;
    margin-left: 20px;
}
#details .feature-detail p {
    font-family: serif;
    font-size: 25px;
    line-height: 41px;
    color: #fff;
}
#feature-gif1 video {
    width: 480px;
    height: 600px;
    display: flex;
    background-size: contain;
    background-position: 449px center;
    z-index: 2;
    position: absolute;
    top: 1909px;
    left: 52%;
   

}
#feature-gif2 video {
    width: 480px;
    height: 600px;
    display: flex;
    background-size: contain;
    background-position: 449px center;
    z-index: 3;
    position: absolute;
    top: 2640px;
    left: 52%;
}
#feature-gif3 video {
    width: 480px;
    height: 600px;
    display: flex;
    background-size: contain;
    background-position: 449px center;
    z-index: 3;
    position: absolute;
    top: 3367px;
    left: 52%;
}
/* page4 */
#page4 {
    display: flex;
    align-items: center;
    justify-content: center ;   
}
#page4 .wallet{
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
#page4 .wallet h1 {
    width: 63%;
    line-height: 71px;
    font-size: 74px;
    margin: 37px;
    padding-left: 91px;
}

.fa-shield{
    font-size: 35px;
    margin-right: 313px;
}
.button {
    display: inline-block;
    border-radius: 66px;
    background-color: #794932;
    border: none;
    font-weight: 550;
    color: #e5e0b0;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* page-5 */

#page5 .awesome-box{
    width: 100%;
    height: 500px;
    background-color: #794932;
}
#page5 .wave-5{
    position: absolute;
    left: 0;
    top: 5290px;
}
#page5 h1 {
    color: rgb(229, 224, 176);
    font-size: 55px;
    display: flex;
    justify-content: center;
}
#page5 .small-boxes {
    width: 300px;
    height: 340px;
    color: #794932;
    font-size: 21px;
    background-color: rgb(194, 147, 97);
    padding: 38px;
    margin: 47px;
    border-radius: 21px;
}
#page5 .small-boxes p{
    font-size: 15px;
        color: #fff;
        font-weight: 550;
        font-size: 19px;
}
#page5 .small-boxes-outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}